<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419568045592-6ical62k1c9unmti4sq0b8pj7bvme7b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419568045592-6ical62k1c9unmti4sq0b8pj7bvme7b8</string>
	<key>API_KEY</key>
	<string>AIzaSyBjQcHrBnVNH_VoHVjoL0AeVTYFE_4bJw4</string>
	<key>GCM_SENDER_ID</key>
	<string>419568045592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab8</string>
	<key>PROJECT_ID</key>
	<string>lab8-208</string>
	<key>STORAGE_BUCKET</key>
	<string>lab8-208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419568045592:ios:360a91bff6a8cb0cb93d6d</string>
</dict>
</plist>